html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLOURS */
  --blue: #243b9c;
  --blueDarker: #0c2e83;
  --blueDark: #02026c;
  --orange: #df7127;
  --orangeDark: #d04823;
  --orangeDark2: #cf4722;
  --orangeDark3: #cf4520;
  --green: #2a9b2d;
  --gold: #997800;
  --goldLight: #cd9f00;
  --brownLight: #e1d3af;
  --mustard: #bc8337;
  --mustardDark: #b4741f;
  --offWhite: #f7f7f7;
  --beige: #fbf7f0;
  --beigeDark: #ddd3c2;
  --beigeDarker: #b2ada3;
  --greyDark: #494949;
  --greyDark2: #444;
}

@font-face {
  font-family: "Fedra Serif";
  src: local("Fedra Sans"), url(./fonts/FSerStdA-Book.otf) format("opentype");
  font-weight: 300;
}


@font-face {
  font-family: "Fedra Serif";
  src: local("Fedra Sans"), url(./fonts/FSerStdA-Medium.otf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Fedra Sans";
  src: local("Fedra Sans"),
    url(./fonts/FedraSansStd-Book.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Fedra Sans";
  src: local("Fedra Sans"),
    url(./fonts/FedraSansStd-Demi.otf) format("opentype");
  font-weight: 600;
}


@font-face {
  font-family: "Fedra Sans";
  src: local("Fedra Sans"),
    url(./fonts/FedraSansStd-Bold.otf) format("opentype");
  font-weight: 700;
}

/* Corrections to imported styled from main site */

footer {
  padding: 3rem;
}

  .logo .logo-img {
    max-height: 30px;
    margin-top: 8px;
    margin-left: 10px;
}

.container-fluid {
  padding: 0;
}